
/griffon/.idea
.idea
.gradle
/cryapi/.gradle
/cryapi/.gradle/
*.lock
*.bin
cryapi/.gradle/buildOutputCleanup/buildOutputCleanup.lock
cryapi/.gradle/6.2.2/javaCompile/javaCompile.lock
cryapi/.gradle/6.2.2/javaCompile/classAnalysis.bin
cryapi/.gradle/6.2.2/fileHashes/fileHashes.lock
cryapi/.gradle/6.2.2/fileHashes/fileHashes.bin
cryapi/.gradle/6.2.2/executionHistory/executionHistory.lock
cryapi/.gradle/6.2.2/executionHistory/executionHistory.bin
cryapi/.gradle/6.2.2/javaCompile/classAnalysis.bin