body {
  margin: 0px;
  overflow-x: hidden;

  .wrapper {
    text-align: center;
    background-color: #cfc9c9;
    height: 100%;

  }
  .balance {
    background: inherit;
  }

}
* {
  box-sizing: border-box;
}
