/**color theme here: **/
$background-color: #36393f;
$nav-color: #2f3136;
$logo-color: #6f84d2;
$nav-active: #393c43;
//nav focus is like active with smaller opacity
$nav-secondary: #202225;

$table-first-colour: #32353b;
$table-second-colour: #36393f;

//$secondary-color: #464B51;
//$text-color: #f7f7f7;


* {
  //border-radius: 0 !important;
}
.history {
  text-align: left;
}
html {

  body {
    height: 100%;

    .wrapper {
      height: 100vh;
      text-align: center;
      background-color: $background-color;
      display: flex;
      overflow-y: scroll;
    }
    .cont {
      max-width: 100%;
      width: 100%;
    }
  }
}
.react-select__menu {
  color: black;
}
.vertical-input-group .input-group:first-child {
  padding-bottom: 0;
}
.vertical-input-group .input-group:first-child * {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.vertical-input-group .input-group:last-child {
  padding-top: 0;
}
.vertical-input-group .input-group:last-child * {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) {
  padding-top: 0;
  padding-bottom: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) * {
  border-radius: 0;
}
.vertical-input-group .input-group:not(:first-child) * {
  border-top: 0;
}

#recPhase{
  margin: auto;
}

#back{
  color:white;
  border-radius: 10px;
}

.error-message{
  color: crimson;
}

.success-message{
  color: chartreuse;
}

.cont{
  background-color: $background-color;
}

.notRounded {
  //border-radius: 0 !important;
}

.input-style {
  background-color: #464B51;
}

input{
  background-color: #464B51;
}

.iconPadding {
    margin-left: 5px;
}
.title-text {
  color: $logo-color;
  font-family: 'Abel';
}