/**color theme here: **/
$background-color: #36393f;
$background-secondary: #2f3136;
$nav-color: #2f3136;
$logo-color: #6f84d2;
$nav-active: #393c43;
//nav focus is like active with smaller opacity
$nav-secondary: #202225;
$text-color: #d2d3d5;
$text-color2: #b9bbbe;
$table-first-colour: #32353b;
$table-second-colour: #36393f;
$green: #43b581;
$red: #f04747;
$text-input-color: #40444b;

//$secondary-color: #464B51;
//$text-color: #f7f7f7;


* {
  text-decoration: none !important;
}
.history {
  text-align: left;
}
html {

  body {
    height: 100%;
    background-color: $background-color;

    .wrapper {
      height: 100vh;
      text-align: center;
      background-color: $background-color;
      display: flex;
      overflow-y: scroll;
    }
    .cont {
      max-width: 100%;
      width: 100%;
    }
  }


}
#norad{
  border-radius: 0;
}
.react-select__menu {
  color: black;
}
.vertical-input-group {
  width: 55%;
  margin: auto;
}

#recPhase{
  margin: auto;
}

#back{
  color:white;
  border-radius: 10px;
}

.error-message{
  color: $red;
}

.success-message{
  color: $green;
}
.currency-select #col{
  padding-top:5%;
  width:200px;
  margin: none;
}
.labels{
  $text-color: #d2d3d5;
  text-align: left;
}

.container #middle-col{
  color: #d2d3d5;
}
.container #middle-col-alt{
  padding-top:67px;
  margin-right: 7%;
  color: #d2d3d5;
  //text-align: left;
}
.currency-select #col{
  color: #d2d3d5;
  text-align: left;
}

.settings-button {
  margin: auto;
}

h2 {
  padding-right:25px;
}
.container p{
  color: #d2d3d5;
}
.withdraw-deposit{
  padding-top: 30px;

}
.cont{
  background-color: $background-color;
}

.notRounded {
  padding-left: 50px;
}

.input-style {
  background-color: #464B51;
}
.top-bar{
  background-color: $background-color;
  margin-bottom: 3%;
  //box-shadow: 0px 1px 3px black;
}
.top-bar button{
  //  border: none;
}
#nav-btn {
  background-color: $background-color;
  color: $logo-color;
  width: 200px;
  border-color: $background-color;
}

#nav-btn:hover {
  background-color: $text-input-color;
  color: $logo-color;
  border-color: $logo-color;
  width: 200px;
  //border-radius: 0;
}

#nav-btn.active {
  background-color: $logo-color;
  color: $background-color;
  width: 200px;
  //  border-radius: 0;
}

#swap{
  display:inline;
  padding-left: 2px;

}

#swap-first{
  display:inline;
}
.x-close{

  margin-bottom: 40px;
  //border: solid 5px #36393f;
  //border:hidden;
}
#left-currency-box{
  margin-left: 37%;
  margin-top: 8px;
}

#left-currency-swap-box{
  margin-left: 40%;
  margin-top: 8px;
}

.col.right-currency-box{
}

#order-box {
  min-width: 950px;
}

input{
  background-color: #40444b !important;
  color: #d2d3d5 !important;
}

//settings page
#form1{
  margin-top: 1em;
  background:#242424;
  color:#adadad;
}
#addExchange{
  margin-top: 1em;
}
.password{
  margin-top: 1em;

}
#inp{
  padding: 0px 10px;
  height: 3.5vh;
  font-family: 'Open Sans', sans-serif;
  border: 0;
  transition: all 250ms ease-in-out;
}

.rules {
  float: left;
  display:inline-grid;
}
#pword{
  margin: auto;
  margin-top: 1em;
}
#phrase{
  margin: auto;
  margin-top: 1em;

}
#help{
  margin: auto;
  margin-top: 1em;
  height: 100%;
  font-size: 1em;
  text-align: left;
}

#brand{
  color: #adadad;
  font-size: 2em;
}
#Guidelines{
  text-align: center;
}
// end of settings css

.iconPadding {
  margin-left: 5px;
}
.title-text {
  color: $logo-color;
  font-family: 'Abel';
}

.background {
  text-decoration: none;
}
table{
  background-color:  #32353b;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  color:#b9bbbe;
}
tr{
  border:none;
}
.header{
  background-color:#32353b ;
  padding:20px;
}
td{
  padding:20px;
}

tr:nth-child(odd) {
  background-color: #36393f;
}

tr:hover{
  background-color: #40444b;
  color:#d2d3d5;

}

#addex {
  max-width: none;
}

/* overwrite react-strap */

.btn.btn-success:hover {
  color:$text-color;
  background-color: $green;
  border-color: $green;
}

.btn.btn-success {
  color:$green;
  background-color: $nav-secondary;
  border-color: $green;
}

.btn.btn-danger:hover {
  color:$text-color;
  background-color: $red;
  border-color: $red;
}
.btn.btn-danger {
  color:$red;
  background-color: $nav-secondary;
  border-color: $red;
}

.btn.btn-primary {
  color:$logo-color;
  background-color: $background-color;
  border-color: $logo-color;
}

.btn.btn-primary:hover {
  color:$text-color;
  background-color: $logo-color;
  border-color: $logo-color;
}

.btn.btn-secondary.btn-lg {
  color:$text-color;
  background-color: $text-input-color;
  border-color: $text-input-color;
}

.btn.btn-secondary.btn-lg:hover {
  color:white;
  background-color: $table-first-colour;
  border-color: $table-first-colour;
}

.btn.btn-info {
  color:$text-color;
  background-color: $text-input-color;
  border-color: $text-input-color;
}

.btn.btn-info:hover {
  color:white;
  background-color: $background-color;
  border-color: $background-color;
}

.btn.btn-info:active {
  color:white;
  background-color: $background-color;
  border-color: $background-color;
}

.btn.btn-secondary {
  color:$text-color;
  background-color: $text-input-color;
  border-color: $text-input-color;
}

.btn.btn-secondary:hover {
  color:white;
  background-color: $table-first-colour;
  border-color: $table-first-colour;
}
//////////////////////////////
.btn-action {
  color: $text-color;
  background-color: $text-input-color;
  border: 0;
}

.btn.btn-secondary.btn-action {
  color:$text-color;
  background-color: $text-input-color;
  border:0;
}

.btn.btn-secondary.btn-action:hover {
  color:white;
  background-color: $background-color;
  border:0;
}

.btn.btn-secondary.btn-action:active {
  color:white;
  background-color: $background-color;
  border:0;
}
.modal-header, .modal-footer {
  border-bottom: none !important;
  border-top: none !important;
  border-radius: 0 !important;
}

.css-1qltswz-singleValue:hover {
  color: #d2d3d5 !important;
}

.react-select__control.css-111xrt1-control:hover{
  color: #d2d3d5 !important;
}

.react-select__control {
  color: #d2d3d5 !important;
}

.form-control {
  border-width: 0 !important;
}
.form-control:focus {
  box-shadow: 0 0 0 0.1rem $text-color2 !important
}

.settings-textbox {
  max-width: 400px;
}

.passField{
  padding-top: 3%
}

.dropdown-menu.show {
  background-color: $table-first-colour;
  color: $text-color2 !important;
}

dropdown-toggle.btn.btn-secondary {
  color:$text-color;
  background-color: $text-input-color;
  border-color: $text-input-color;
}

.dropdown-toggle.btn.btn-secondary:hover {
   color:white;
   background-color: $table-first-colour;
   border-color: $table-first-colour;
 }

.dropdown-toggle.btn.btn-secondary:active {
  color:white;
  background-color: $table-first-colour !important;
  border-color: $table-first-colour !important;
}
.dropdown-toggle.btn.btn-secondary:focus {
  color:white !important;
  background-color: $table-first-colour !important;
  border-color: $table-first-colour !important;
}
.dropdown-item {
  color:$text-color !important;
}

.dropdown-item:hover {
  color:white !important;
  background-color: $background-color !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}