.currSel {
    display: inline;
    font-size: 1.2em;
    max-width: 50px;
    text-align: center;

}
.balance{
  margin-top: 2em;
}
.currency-selector{
  width: 80% !important;
  min-width: 0 !important;
  margin: auto;
}
