.box{
background: #242424;
    color: #adadad;
  margin: auto;
  width: 50%;
  height:70%;
}
.img-fluid{
  margin-top:2em;
  height: 20%;
  width: 20%;
}
.row{
  margin-top: 1em;
}
.btn-dark{
  margin-top: 5em;
  margin-left: 3em;
    margin-right: 3em;
}
.Available2{
  margin-top: 1.5em;
}
#test{
  color: #adadad;
  text-decoration: none;

}
#arrow{
  font-size: 2em;
  margin-bottom: 4em;
}
