.btn.btn-secondary{
    background-color:#464B51;
    border: 50px,solid,white;
}

.cont{
    background-color: #464B51;
}

/* .nav-item.btn.btn-secondary{
    
}
 */
.exAcc{
    width:33%;
}

#exchange {
    float:left;
}

.react-select-ex{
    width:33%;
}
