.cryptoicons{

  background-color: blue;
  display: inline;
}

.img1{

  height: 40%;
  width:25%;
  float: left;
  margin-left: 2em;
}
.img2{

  height: 40%;
  width:25%;
  float: right;
  margin-right: 5em;
}
.convert{
  margin-top: 15em;

}
.input1{

    float: left;
    width:35%;
    height: 4vh;
    color: #adadad;
    background: #242424;
    border-bottom: 5px solid #adadad;

;
}
.input2{

    float: right;
    width:35%;
    height: 4vh;
    color: #adadad;
    background: #242424;
    border-bottom: 5px solid #adadad;

  }
.extra1{
  padding:5em;
}
#select1{
  float: right;
    height: 4vh;
      background: #242424;
            color: #adadad;
            border: none;
}
#select2{
  float: left;
    height: 4vh;
      background: #242424;
          color: #adadad;
            border: none;
}
.bob{
    height: 4vh;
    background: #adadad;
color:#242424;
border-radius: 4px;
}
.Available{

}
.Available1{
    float: left;
}
.exchange1{
  height: 4vh;
  background: #adadad;
  color:#242424;
  margin-right: 7em;
  border-radius: 4px;
  margin-top: 3em;
}
.exchange2{
  height: 4vh;
  background: #adadad;
  color:#242424;
  margin-right: 19em;

  border-radius: 4px;
  margin-top: 3em;
}
.Rate{
margin-right: 10em;
margin-top: 1em;


}
#form1{
  margin-top: 1em;
  background:#242424;
  color:#adadad;
}
#addExchange{

  margin: auto;
  margin-top:5em;
  width:60%;
    color:#adadad;

}
