#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #343a40;
    color: #adadad; 
    overflow: fix;
}
ul{
    list-style-type: none;
}
li {
    font-size: 1.5em;
    text-align: center;
}
#wrap {
    position: relative;
    margin-right: 12em; 
}
