#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #343a40;
    color: #adadad; 
    overflow: fix;
    font-size: 1.2em;

}
ul{
    list-style-type: none;
}
li{
    font-size: 1.4em;
}
.list-items {
    font-size: 1.3em;
    text-align: left;
}
#wrap {
    min-width: 200px;
    position: relative;
}
#icon {
    max-width: 40px;
    padding-right: 5px ; float: left;
}