caption {
    background-color:white;
    caption-side: bottom;
}
.expand{
  opacity:1
}
.collapse{
  visibility: collapse
}

Dropdown{
  display:inline;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
