
.password{
  margin-top: 1em;

}
#inp{
  font-family: 'Open Sans', sans-serif;
  background-color: #464B51;
  color:white;
}

.rules {
  float: left;
  display:inline-grid;
}
#pword{
  margin: auto;
  margin-top: 1em;
  width:40%
}
#phrase{
  margin: auto;
  margin-top: 1em;
  width:40%;

}
#help{
  margin: auto;
  margin-top: 1em;
  width:60%;
  height: 100%;
}
#brand{
    color: #adadad;
    font-size: 2em;
}
