.nav2{
    background-color: black;
    width: 100%;
    height: 20vh;
}
.navbar{
    width: 100%;
    height: 13vh;
    line-height: 15vh;
     background: #242424;
    color: #adadad;


}
#nav1 li a{
  color: #adadad;
  text-decoration: none;
}
#nav1 li{


    height:100%;
    display: inline-block;
    margin-left: 7em;
    list-style-type: none;
        color: #adadad;

}
#nav1 li:hover {
	background: #333333;
	transition: all ease-in-out 0.45s;
}
#active{
	background: #1684bb;
}
.extra{
  position: absolute;
  background-color:#242424;
  color: #adadad;
  top: 10em;
  right: 4em;
  left: 7em;
  margin:auto;

  width: 50%;
  height: 70%;

}
.password{
  margin-top: 1em;

}
input{
  padding: 0px 10px;

  height: 3.5vh;
  font-family: 'Open Sans', sans-serif;
  border: 0;
  transition: all 250ms ease-in-out;
  &:focus{
    outline: none;
    box-shadow: 0px 0px 12px 4px black;
  }

}
