body {
    .container {
        h1 {
        display:flex;
        justify-content: center;
        padding-bottom: 30px;
        font-size: 5em;
        }
    justify-content: center;
    margin-top: 10%;
    }

}
